@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body  {
  /*background-image: url(../img/wallpaper.jpg);*/
  background-color: #F7FAE1;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  overflow-y: hidden;
   /* Путь к фоновому изображению */
  /*background-size: contain;*/
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.running_news {
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_news,
.bottom_news {
  height: 6vh;
  background: #F0CD2A;
  z-index: 1;
  justify-content: space-between;
}

.bottom_news  {
    margin-top: 37rem;
    width: auto;
}

.super_stickers {
  position: relative;
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apple_sticker {
      position: absolute;
      top: -32vh;
      left: 12vw;
      transform: rotate(-28deg)
}
.pineapple_sticker {
  position: absolute;
  top: -35vh;
  left: 16vw;
  transform: rotate(15deg);
}

.blue_kiwi_sticker {
    left: 32vw;
    top: -33vh;
    position: absolute;
}

.green_kiwi_sticker {
  position: absolute;
  top: -20vh;
  left: 4vw;
  animation: morphingRect 1.5s ease infinite;
  animation-delay: -0.3s;
  width: 18vw;
  height: 15vh;
}

@keyframes morphingRect {
  0% {
      border-radius: 0%;
      width: 18vw;
      height: 17vh;
  }
  50% {
      border-radius: 50%;
      width: 18vw;
      height: 20vh;
  }
  100% {
    border-radius: 0%;
    width: 18vw;
    height: 17vh;
  }
}


.horizontal_banana_sticker {
    top: -27vh;
    left: 7vw;
    position: absolute;
}


.vertical_banana_sticker {
   top: -12vh;
   left: 34vw;
   position: absolute;
   transform: rotate(-24deg);
}
.running_news,
.super_stickers {
  display:block;
  position: relative;
}

h2 {
font-family: Input Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 101.5%;
letter-spacing: -0.08em;
color: #E23C2C;
}

a.tap_on {
color: #E23C2C;
padding: 0rem 11rem;
text-decoration: none;
-webkit-animation: pulsate 3s ease-out;
-webkit-animation-iteration-count: infinite;
opacity: ;
}
@keyframes pulsate {
    0% {
       opacity: 0.1;
   }
    20% {
       opacity: 1.0;
   }
    40% {
        opacity: 0.1;
    }
    60% {
        opacity: 1.0;
    }
    80% {
         opacity: 0.1;
     }
   100% {
       opacity: 0.1;
   }
  }
