@import "reset.css";
@font-face {
  font-family: 'Input Sans';
  src: url('../fonts/InputSans.ttf') format('tryetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body  {
  /*background-image: url(../img/wallpaper.jpg);*/
  background-color: #F7FAE1;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'InputSans';
}

main {
  overflow: hidden;
  overflow-y: hidden;
   /* Путь к фоновому изображению */
  /*background-size: contain;*/
  height: 100vh;
}

.my-modal {
position: fixed;
background-color: #F7FAED;
width: 40vw;
height: 40vh;
z-index: 10;
border: 10px solid #000C5E;
box-shadow: 0px 4px 15px #000000;
border-radius: 27px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 1;
transition: all 800ms ease;
}

.my-modal.is-hidden {
  visibility: hidden;
  opacity: 0;

}

/* .btn {
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modals {
  display: none;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

}

.modal--visible {
  display: block;
}

.modal-overlay--visible {
opacity: 1;
visibility: visible;
transition: all 0.3s ease-in-out;
}

.modals--visible {
  display: block;
} */

.wrapper {
  width: 100vw;
  height: 100vh;
}

.running_news {
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_news,
.bottom_news {
  height: 6vh;
  background: #F0CD2A;
  z-index: 1;
  justify-content: space-between;
}

.bottom_news  {
    margin-top: 37rem;
    width: auto;
}

.text_center {
  text-align: center;
}

.super_stickers {
  position: relative;
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apple_sticker {
  position: absolute;
  top: -48vh;
  left: 9vw;
  transform: rotate(-28deg);
  di splay: block;
  }

/*.apple_sticker:hover {
/*  position: relative;*/
/*  margin: 0 auto;
opacity: 0;
} */

.apple_sticker img {
  position: absolute;
/*  left: 0;
  right: 0; */
}

 .real_apple {
  opacity: 1;
  repeat: no-repeat 50% 50%;
  animation: morphingRect10 1.5s ease infinite;
  animation-delay: -0.3s;
}

.web_apple {
  opacity: 0;
  width: 2s0vw;
  height: 30vh;
}

.web_apple:hover {
  opacity: 100;
}

.real_apple:hover img{
  opacity: 0;
}

/*.web_apple:hover{
  opacity: 1;
}*/

  @keyframes morphingRect10 {
    0% {
        border-radius: 0%;
        width: 30vw;
        height: 28vh;
    }
    50% {
        border-radius: 50%;
        width: 30vw;
        height: 26vh;
    }
    100% {
      border-radius: 0%;
      width: 30vw;
      height: 28vh;
    }
  }

.pineapple_sticker {
  position: absolute;
  top: -39vh;
  left: 11vw;
  transform: rotate(15deg);
  animation: morphingRect0 1.5s ease infinite;
  animation-delay: -0.3s;
}

@keyframes morphingRect0 {
  0% {
      border-radius: 0%;
      width: 30vw;
      height: 25vh;
  }
  50% {
      border-radius: 50%;
      width: 30vw;
      height: 22vh;
  }
  100% {
    border-radius: 0%;
    width: 30vw;
    height: 25vh;
  }
}


.blue_kiwi_sticker {
  /* left: 29vw;
  top: -43vh; */
  position: absolute;
  top: -70vh;
  left: 60vw;
  transform: rotate(13deg);
  animation: morphingRect3 1.5s ease infinite;
  animation-delay: -0.3s;
  }


._kiwi_sticker img {
  left: 29vw;
  top: -43vh;
  transform: rotate(13deg);
  animation: morphingRect3 1.5s ease infinite;
  animation-delay: -0.3s;
}


  @keyframes morphingRect3 {
    0% {
        border-radius: 0%;
        width: 30vw;
        height: 28vh;
    }
    50% {
        border-radius: 50%;
        width: 30vw;
        height: 25vh;
    }
    100% {
      border-radius: 0%;
      width: 30vw;
      height: 28vh;
    }
  }

.link_kiwi {
  left: 29vw;
  top: -43vh;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.green_kiwi_sticker {
  position: absolute;
  top: -37vh;
  left: 4vw;
  animation: morphingRect4 1.5s ease infinite;
  animation-delay: -0.3s;
}

@keyframes morphingRect4 {
  0% {
      border-radius: 0%;
      width: 18vw;
      height: 17vh;
  }
  50% {
      border-radius: 50%;
      width: 18vw;
      height: 20vh;
  }
  100% {
    border-radius: 0%;
    width: 18vw;
    height: 17vh;
  }
}

#window_text {
  font-size: 30px;
  text-align: center;
  margin-top: 16vh;
}

.horizontal_banana_sticker {
    top: -24vh;
    left: 3vw;
    position: absolute;
    text-align: center;
    align-items: center;
  /*  transform: translate(32.5vw, 60vh);
    width: 9.5vw;
    height: 9.5vw;*/
    animation: morphingRect5 1.5s ease infinite;
    animation-delay: -0.3s;
  }

  @keyframes morphingRect5 {
    0% {
        border-radius: 0%;
        width: 90vw;
        height: 35vh;
    }
    50% {
        border-radius: 50%;
        width: 90vw;
        height: 33vh;
    }
    100% {
      border-radius: 0%;
      width: 90vw;
      height: 35vh;
    }
  }

  /* .imgBanana {
  /*width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 7%;
  display: none;
  } */

#click_stick {
  opacity: 1;
}

#click_banana {
  opacity: 0;
}

.vertical_banana_sticker {
   top: -12vh;
   left: 34vw;
   position: absolute;
   transform: rotate(-24deg);
   animation: morphingRect6 1.5s ease infinite;
   animation-delay: -0.3s;
   }

   @keyframes morphingRect6 {
     0% {
         border-radius: 0%;
         width: 30vw;
         height: 28vh;
     }
     50% {
         border-radius: 50%;
         width: 30vw;
         height: 26vh;
     }
     100% {
       border-radius: 0%;
       width: 30vw;
       height: 28vh;
     }
   }

.vertical_banana_sticker:hover {
  opacity: 50%;
}
.running_news,
.super_stickers {
  display:block;
  position: relative;
}

h2 {
font-family: 'Input Sans';
font-style: normal;
font-weight: bold;
font-size:  4vw;
line-height: 101.5%;
letter-spacing: -0.08em;
color: #E23C2C;
}

a.tap_on {
color: #E23C2C;
padding: 0rem 11rem;
text-decoration: none;
-webkit-animation: pulsate 3s ease-out;
-webkit-animation-iteration-count: infinite;
opacity: ;
}
@keyframes pulsate {
    0% {
       opacity: 0.1;
   }
    20% {
       opacity: 1.0;
   }
    40% {
        opacity: 0.1;
    }
    60% {
        opacity: 1.0;
    }
    80% {
         opacity: 0.1;
     }
   100% {
       opacity: 0.1;
   }
  }


  /* .fond {
   position:absolute;
   padding-top:45px;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-color:#f8b334;
  }
  .mymagicoverbox {
   display:inline-block;
   color:#ffffff;
   padding:10px;
   margin:10px;
   cursor:pointer;
   font-weight:300;
   font-family:'Roboto';
  }
  .mymagicoverbox_fenetre {
   z-index:9999;
   position:fixed;
   margin-left:50%;
   top:100px;
   text-align:center;
   display:none;
   padding:5px;
   background-color:#ffffff;
   color:#97BF0D;
   font-style:normal;
   font-size:20px;
   font-weight:300;
   font-family:'Roboto';
  }
  .mymagicoverbox_fenetreinterieur {
   text-align:center;
   overflow:auto;
   padding:10px;
   background-color:#ffffff;
   color:#666666;
   font-weight:400;
   font-family:'Roboto';
   font-size:17px;
   border-top:1px solid #e7e7e7;
   margin-top:10px
  }
  .mymagicoverbox_fermer {
   color:#CB2025;
   cursor:pointer;
   font-weight:400;
   font-size:14px;
   font-style:normal
   font-family:'Roboto';
  }
  #myfond_gris {
   display: none;
   background-color:#000000;
   opacity:0.7;
   width:100%;
   height:100%;
   z-index:9998;
   position:fixed;
   top:0;
   bottom:0;
   right:0;
   left:0;
  } */
