@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body  {
  /*background-image: url(../img/wallpaper.jpg);*/
  background-color: #F7FAE1;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  overflow-y: hidden;
   /* Путь к фоновому изображению */
  /*background-size: contain;*/
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.running_news {
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_news,
.bottom_news {
  height: 6vh;
  background: #F0CD2A;
  z-index: 1;
  justify-content: space-between;
}

.bottom_news  {
    margin-top: 37rem;
    width: auto;
}

.text_center {
  text-align: center;
}

.super_stickers {
  position: relative;
  width: auto;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apple_sticker {
  position: absolute;
  top: -48vh;
  left: 9vw;
  transform: rotate(-28deg);
  display: block;
  repeat: no-repeat 50% 50%;
  animation: morphingRec t1 1.5s ease infinite;
  animation-delay: -0.3s;
  }

/*.apple_sticker:hover {
/*  position: relative;*/
/*  margin: 0 auto;
opacity: 0;
} */

.apple_sticker img {
  position: absolute;
/*  left: 0;
  right: 0; */
}

.real_a pple {
  opacity: 1;
}

.web_apple {
  opacity: 0;
  width: 2s0vw;
  height: 30vh;
}

.web_apple:hover {
  opacity: 100;
}
.real_apple:hover img{
  opacity: 0;
}

/*.web_apple:hover{
  opacity: 1;
}*/

  @keyframes morphingRect1 {
    0% {
        border-radius: 0%;
        width: 30vw;
        height: 28vh;
    }
    50% {
        border-radius: 50%;
        width: 30vw;
        height: 26vh;
    }
    100% {
      border-radius: 0%;
      width: 30vw;
      height: 28vh;
    }
  }

.pineapple_sticker {
  position: absolute;
  top: -39vh;
  left: 11vw;
  transform: rotate(15deg);
  animation: morphingRect0 1.5s ease infinite;
  animation-delay: -0.3s;
}

@keyframes morphingRect0 {
  0% {
      border-radius: 0%;
      width: 30vw;
      height: 25vh;
  }
  50% {
      border-radius: 50%;
      width: 30vw;
      height: 22vh;
  }
  100% {
    border-radius: 0%;
    width: 30vw;
    height: 25vh;
  }
}


.blue_kiwi_sticker {
  left: 29vw;
  top: -43vh;
  position: absolute;
  transform: rotate(13deg);
  animation: morphingRect3 1.5s ease infinite;
  animation-delay: -0.3s;
  }

  @keyframes morphingRect3 {
    0% {
        border-radius: 0%;
        width: 30vw;
        height: 28vh;
    }
    50% {
        border-radius: 50%;
        width: 30vw;
        height: 26vh;
    }
    100% {
      border-radius: 0%;
      width: 30vw;
      height: 28vh;
    }
  }


.green_kiwi_sticker {
  position: absolute;
  top: -37vh;
  left: 4vw;
  animation: morphingRect4 1.5s ease infinite;
  animation-delay: -0.3s;
}

@keyframes morphingRect4 {
  0% {
      border-radius: 0%;
      width: 18vw;
      height: 17vh;
  }
  50% {
      border-radius: 50%;
      width: 18vw;
      height: 20vh;
  }
  100% {
    border-radius: 0%;
    width: 18vw;
    height: 17vh;
  }
}


.horizontal_banana_sticker {
    top: -24vh;
    left: 3vw;
    position: absolute;
    text-align: center;
    align-items: center;
    animation: morphingRect5 1.5s ease infinite;
    animation-delay: -0.3s;
  }

  @keyframes morphingRect5 {
    0% {
        border-radius: 0%;
        width: 90vw;
        height: 35vh;
    }
    50% {
        border-radius: 50%;
        width: 90vw;
        height: 33vh;
    }
    100% {
      border-radius: 0%;
      width: 90vw;
      height: 35vh;
    }
  }

  .imgBanana {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 7%;
  display: none;
  }


.vertical_banana_sticker {
   top: -12vh;
   left: 34vw;
   position: absolute;
   transform: rotate(-24deg);
   animation: morphingRect6 1.5s ease infinite;
   animation-delay: -0.3s;
   }

   @keyframes morphingRect6 {
     0% {
         border-radius: 0%;
         width: 30vw;
         height: 28vh;
     }
     50% {
         border-radius: 50%;
         width: 30vw;
         height: 26vh;
     }
     100% {
       border-radius: 0%;
       width: 30vw;
       height: 28vh;
     }
   }

.vertical_banana_sticker:hover {
  opacity: 50%;
}
.running_news,
.super_stickers {
  display:block;
  position: relative;
}

h2 {
font-family: Input Sans;
font-style: normal;
font-weight: bold;
font-size:  4vw;
line-height: 101.5%;
letter-spacing: -0.08em;
color: #E23C2C;
}

a.tap_on {
color: #E23C2C;
padding: 0rem 11rem;
text-decoration: none;
-webkit-animation: pulsate 3s ease-out;
-webkit-animation-iteration-count: infinite;
opacity: ;
}
@keyframes pulsate {
    0% {
       opacity: 0.1;
   }
    20% {
       opacity: 1.0;
   }
    40% {
        opacity: 0.1;
    }
    60% {
        opacity: 1.0;
    }
    80% {
         opacity: 0.1;
     }
   100% {
       opacity: 0.1;
   }
  }
